@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

$primary-color: #42b983;
$secondary-color: #35495e;
$background-color: #f5f5f5;
$font-family: "Nunito", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $background-color;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  padding: 16px;
}
